/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

div#social {
  line-height: 2em;
}

body {
  font-family: sans-serif;
  margin: 2em;	
}

article {
	/*padding: 6px;*/
	max-width: 50em;
	margin: 0 auto;
  border-bottom: 1px solid #ddd;	
}

figcaption {
  color: #bb021e;
  padding: 1em 0;
}

figure {
  margin: 1em 0 1em 0;
}

footer {
  margin: 0 auto;
  width: 800px;
}

header {
  margin: 0 auto;
  width: 800px;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

img {
	width: 100%;
}

header:hover {
  fill: #3d85c6;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}
